.header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  color: #c00c00;
  text-decoration: none;
}

@media (max-width: 400px) {
  .logo {
    font-size: 26px;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 10px;
  }
}
