.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.input {
  width: 150px;
  font-size: 14px;
  padding: 4px;
  outline: none;
}

.button {
  background: none;
  border: 2px solid transparent;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--bg-color-btn-search);
  transition: 0.3s ease-in-out;
}

.button:hover {
  border: 2px solid var(--bg-color-btn-search);
  background-color: transparent;
}

@media (max-width: 400px) {
  .input {
    padding: 2px;
  }
}
